.opcoes{
    list-style: none;
    display: flex;
    gap: 20px;
}
.opcoes li a:hover {
    color: #EFC12B; /* Muda a cor do link ao passar o mouse */
}
.opcoes li a {
    color: rgb(255, 250, 250); /* Cor do link */
    text-decoration: none;
    font-size: 1em;
    padding: 10px 0;
}
.logo img{
    height: 40px;
    margin-right: 15px;
    width: auto;
    display: block;
    border-radius: 50px ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menusuperior {
    background-color: #2cdff7; /* Cor de fundo escura */
    height: 60px; /* Altura do menu */
    padding: 0 20px; /* Preenchimento horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.logo{
    padding: 0 10px; /* Preenchimento horizontal */
    display: flex;
    justify-content: space-around;
}
.nomelogo{
    color: rgb(255, 250, 250);
    font-family:'Courier New', Courier, monospace;
    /*font-size: 1em;*/
    font-size: 3vh;
    align-self: center;
}

/*.carousel {
  position: relative;
  width: 400px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 400px;
  flex-shrink: 0;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
  */

.prev { left: 10px; }
.next { right: 10px; }

.carousel {
  position: relative;
  width: 100%;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.slide {
  width: 160px;
  opacity: 0.6;
  transform: scale(0.85);
  transition: transform 0.4s ease, opacity 0.4s ease;
  pointer-events: auto;
}

.slide.active {
  transform: scale(1.15);
  opacity: 1;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

button.prev {
  left: 20px;
}

button.next {
  right: 20px;
}
